.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0;
    .containerImg {
        div {
            overflow: hidden;
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.05);
                    transition: 1s all ease-out;
                }
            }
        }
    }
}

@media screen and (max-width: 968px) {
    .container {
        padding: 30px 40px 100px 40px;
        .containerImg {
            display: flex;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 426px) {
    .container {
        padding-top: 0;
    }
}